<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{campsite.shortName}}">
  <ion-content has-header="true" padding="true">
    <h1>{{campsite.longName}}</h1>
    <h3><a ng-href="#/tab/park/{{park.id}}">{{park.longName}}</a></h3>
    <!-- TODO Split into separate paragraphs -->
    <p>{{campsite.description}}</p>
    <h2>Facilities</h2>
    <div class="list list-inset">
      <div class="item item-text-wrap" ng-show="campsite | haveFacilitiesFields | listAsText">
        <strong>Has</strong>
        {{campsite | haveFacilitiesFields | listAsText}}
      </div>
      <div class="item item-text-wrap" ng-show="campsite | notHaveFacilitiesFields | listAsText">
        <strong>But no</strong>
        {{campsite | notHaveFacilitiesFields | listAsText}}
      </div>
    </div>
    <h2>Access</h2>
    <div class="list list-inset">
      <div class="item item-text-wrap" ng-show="campsite | haveAccessFields | listAsText">
        <strong>For</strong>
        {{campsite | haveAccessFields | listAsText}}
      </div>
      <div class="item item-text-wrap" ng-show="campsite | notHaveAccessFields | listAsText">
        <strong>But not for</strong>
        {{campsite | notHaveAccessFields | listAsText}}
      </div>
    </div>
    <a class="button" ng-href="geo:0,0?q={{campsite.position.lat}},{{campsite.position.lng}}({{campsite.shortName}})" ng-show="campsite.position">Directions to Campsite</a>
  </ion-content>
</ion-view>
