<ion-view title="Camping near you in NSW">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-pinpoint" ng-click="locateMe()" ng-disabled="updatingPosition">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <p>Latitude: {{position.lat}}, Longitude: {{position.lng}}</p>
    <ion-list>
      <ion-item ng-repeat="campsite in campsites" type="item-text-wrap" href="#/tab/campsite/{{campsite.id}}">
        {{campsite.shortName}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
