<ion-view title="Camping near you in NSW">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-pinpoint" ng-click="locateMe()" ng-disabled="updatingPosition">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item collection-repeat="item in campsites | orderByDistanceTo:position" collection-item-width="'100%'" collection-item-height="76" type="item-text-wrap" href="#/tab/campsite/{{item.id}}" class="my-item">
        <span class="item-note">
          {{item.position | distanceInMetres:position | distanceText}}
          {{item.position | bearingInDegrees:position | bearingText}}
        </span>
        <h2>{{item.shortName}}</h2>
        <p>{{item.park.shortName}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
