<ion-view title="Camping near you in NSW">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-pinpoint" ng-click="locateMe()" ng-disabled="updatingPosition">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="campsite in campsites | orderByDistanceTo:position" type="item-text-wrap" href="#/tab/campsite/{{campsite.id}}">
        <span class="item-note">
          {{campsite.position | distanceInMetres:position | distanceText}}
          {{campsite.position | bearingInDegrees:position | bearingText}}
        </span>
        <h2>{{campsite.shortName}}</h2>
        <p>{{campsite.park.shortName}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
